.yellow {
    color: $color-yellow;
}

.orange {
    color: $color-orange;
}

.white {
    color: $color-white;
}

.black {
    color: $color-black;
}

.large {
    font-size: 18px;
}

.small {
    font-size: 13px;
}

.pointer {
    cursor: pointer;
}

.required {
    color: $color-red;
}
