$color-blue: #0000cc;
$color-white: #ffffff;
$color-yellow: #ffcc00;
$color-black: #000000;
$color-grey: #a6a6a6;
$color-red: #ff0000;
$color-orange: #cca300;
$color-bold-red: #B22222;
$color-green: #008000;
$color-bold-blue: #0000CD;
