header {
    color: $color-blue;
    h3 {
        font-weight: bolder;
    }
    a {
        color: $color-blue !important;
        &:hover {
            text-decoration: none;
        }
    }
}
  
footer {
    background-color: $color-blue;
    color: $color-white;
    a:hover {
        color: $color-white !important;
        text-decoration: none;
    }
}